.App {
  text-align: center;
}

html {
  height: 400px;
  width: 300px;
}

.Heading img {
  height: 40px;
  width: 55px;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
  float: top;
}
.Heading h1 {
  width: 50%;
  margin-left: 20%;
}

.Spacing {
  height: 10px;
}

.Body img {
  float: left;
  padding-left: 10px;
  width: 80px;
  height: 60px;
}

.Body p {
  float: right;
  margin-right: 10px;
  width: 60%;
  margin-top: 0px;
  background-color: #F3F4BD;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  border-color: #A0AD03 ;
  border-width: 2px;
  border-style: solid;
}

.Body {
  contain: content;
  /* size: inline-block; */
}

.Options {
  contain: content;
  float: right;
}

.OptionNumbers {
  margin-right:5px;
  margin-top:5px;
  margin-bottom: 5px;
  background-color: #F3B5B5;
  border-color: #B71212;
  border-width: 2px;
  border-style: solid;
  width: 200px;
}